<footer class="mt-auto border-t border-orange-500/20 bg-gradient-to-br from-gray-900 via-slate-900 to-black text-gray-200">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row items-center justify-between gap-6">
      <!-- LEFT -->
      <div class="flex flex-col items-center md:items-start space-y-2">
        <h2 class="text-4xl font-black text-orange-500">
          Momos Buddies
        </h2>
        <p class="text-sm text-white font-medium tracking-wider">
          Har bite mein dosti ka taste
        </p>
      </div>

      <!-- RIGHT -->
      <div class="text-center md:text-right">
        <div class="border-t border-white/10 mt-8 pt-6 text-center">
          <p class="text-sm text-gray-400">
            &copy; <%= Time.current.year %> Momos Buddies. All rights reserved.
          </p>
        </div>

        <div class="mt-4 flex flex-wrap justify-center md:justify-end gap-4 text-sm">
          <a href="tel:+917049652141"
            class="mt-8 inline-flex items-center justify-center gap-2 px-6 py-3 bg-gradient-to-r from-orange-500 to-red-600 text-white font-bold rounded-xl shadow-lg hover:shadow-orange-400/40 hover:-translate-y-0.5 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-orange-400">
            📞 Call
          </a>

          <a href="https://wa.me/917049652141" target="_blank"class="mt-8 inline-flex items-center justify-center gap-2 px-6 py-3 bg-gradient-to-r from-orange-500 to-red-600 text-white font-bold rounded-xl shadow-lg hover:shadow-orange-400/40 hover:-translate-y-0.5 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-orange-400">
            💬 WhatsApp
          </a>

          <a href="https://www.google.com/maps/dir/?api=1&destination=22.6961206,75.8795747" target="_blank"
           class="mt-8 inline-flex items-center justify-center gap-2 px-6 py-3 bg-gradient-to-r from-orange-500 to-red-600 text-white font-bold rounded-xl shadow-lg hover:shadow-orange-400/40 hover:-translate-y-0.5 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-orange-400">
            <span>📍 Visit</span> 
          </a>
        </div>

      </div>
    </div>
  </div>
</footer>